*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: black;
    color: white;
}

#game {
    position: relative;
    width: 100vw;
    height: 100vh;
    
}

#player{
    position: absolute;
    width: 100px;
    /* top: 40%;
    left: 5%; */

}


#player img{

    width: 100%;
    height: auto;
}


.star{
    position: absolute;
    width: 40px;
}

.star img{
    width: 100%;
    height: auto;
}


#score{

    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 25px;
    font-weight: bold;
}

.rock{

    position: absolute;
    width: 100px;
}


.rock img{
    width: 100%;
    height: auto;

}