*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: black;
    color: white;
}

#game {
    position: relative;
    width: 100vw;
    height: 100vh;
    
}

#player{
    position: absolute;
    width: 100px;
    /* top: 40%;
    left: 5%; */

}


#player img{

    width: 100%;
    height: auto;
}