*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: black;
    color: white;
}

#game {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
}

#player{
    position: absolute;
    width: 100px;
    /* top: 40%;
    left: 5%; */

}


#player img{

    width: 100%;
    height: auto;
}


.star{
    position: absolute;
    width: 40px;
}

.star img{
    width: 100%;
    height: auto;
}


#score, #highScore{

    position: absolute;
    top: 15px;
    font-size: 25px;
    font-weight: bold;
}

#score{
    left: 20px;

}


#highScore{
    left: 180px;
}

.rock{

    position: absolute;
    width: 60px;
}


.rock img{
    width: 100%;
    height: auto;

}


#gameOver{
    
   position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    z-index: 1000;
    display: none;
}

#gameOver button{
    margin-top: 25px;
    padding: 10px 22px;
    font-size: 22px;
    cursor: pointer;

}